In [185]:
import camelot
import pandas as pd
import tabula
import re
import numpy as np

In [2]:
"""
takes title of table from first index of header and replaces headers with integers
"""
def replaceHeader(curr_head, df):
    df.iloc[0, 0] = curr_head[0]
    df.columns = range(df.shape[1])
    return df

In [149]:
"""
combines top 2 rows
"""
def topCombine(table):
    header = table.iloc[0,0]
    table = table.drop(0, axis = 0).reset_index(drop=True)
    table.iloc[0,0]= header
    return table

In [292]:
"""
cleans data when multiple values are batched into the same column
"""
def cleanOverlap(table, column = 0, year_row = 0, text_issue = True, financial = False, drop = False):
    
    
    # get number of columns that are wrong by search for years
    column_err = re.findall("20\d\d-?", table.iloc[year_row,column])

    # create lists of similar size
    lists = []
    
    #get the same num nan as starting year_row
    if text_issue == False:
        for nan in range(year_row):
            lists.append(["" for i in range(len(column_err))])
        
    for i in range(year_row, len(table)): 
        # get errors in column names up to 999,999,999
        numbers = re.findall("-?\d*[,.]?\d*[,.]?\d+%?-?",table.iloc[i,column])

        # make sure they match
        try:
            assert len(column_err) == len(numbers)
        except:
            print((column_err, numbers))
            numbers = numbers[1:]
            
        # remove number from original
        num = " ".join(numbers)
        text = re.sub(num, "", table.iloc[i,column])
        if text_issue:
            lists.append([text] + numbers)
        else:
            lists.append(numbers)
    lists = pd.DataFrame(lists)
    
    if financial:
        table = table.dropna(axis = 0, thresh = 3).reset_index(drop = True)
        
    # append columns back into array in the right order
    table = table.dropna(axis = 1, thresh = 7)
    
    if drop:
        table = table.drop(0, axis = 0).reset_index(drop=True)
        
    if text_issue:
        table = pd.concat([lists, table.iloc[:,1:]], axis = 1) # how to insert new columns in the middle
    else:
        table = pd.concat([table.iloc[:,:column], lists, table.iloc[:,(column + 1):]], axis = 1) # how to insert new columns in the middle
    return table

In [230]:
"""
matches numbers in the text and moves them to the right column
"""
def fillBlanks(table, year_row = 0):
        
    for i in range(year_row, len(table)): 
        # get errors in column names up to 999,999,999
        numbers = re.findall("-?\d*[,.]?\d*[,.]?\d+%?-?",table.iloc[i,0])
        
        if numbers:
            text = re.sub(numbers[0], "", table.iloc[i,0])
            table.iloc[i,0] = text
            table.iloc[i,1] = numbers[0]
            
    return table

In [187]:
np.arange(14, 55, 4)

array([14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54])

In [469]:
#tables = camelot.read_pdf('Energy-Revolution-2015-Full.pdf')

left = 21.97
middle = 21+ 274.96
right = 540

ex_page = 33
final_page = 55

config = 2

table1 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (53.02, 21.97, 53.02 + 344.91, 21+ 274.96), columns = [21+274.96])
t1head = table1.columns


#14, 18, 22, 26, 30, 34, 3
if config == 1:
    table1 = table1.iloc[:, :6]
    table1 = cleanOverlap(table1, drop =True)
    table1 = replaceHeader(t1head, table1)
    table1 = table1.iloc[:,:-1]
if config == 2:
    table1 = table1.iloc[:, :7]
    table1 = cleanOverlap(table1, drop =False)
    table1 = replaceHeader(t1head, table1)
    table1 = table1.iloc[:,:-1]
if config == 3:
    table1 = table1.iloc[:, :8]
    #table1 = cleanOverlap(table1, drop =False)
    table1 = replaceHeader(t1head, table1)
    table1 = table1.iloc[:,:-1]
if config == 4:
    table1 = table1.iloc[:, :8]
    #table1 = cleanOverlap(table1, drop =False)
    table1 = replaceHeader(t1head, table1)
    table1 = table1.iloc[:,:-2]
if config == 5:
    table1 = table1.iloc[:, :8]
    table1 = cleanOverlap(table1, drop =False)
    table1 = replaceHeader(t1head, table1)
    table1 = table1.iloc[:,:-2]
table1

(['2012'], ['2', '0'])
(['2012'], ['2', '0'])
(['2012'], [])
(['2012'], ['2', '0'])

,0,1,2,3,4,5,6
0,table 13.6.15 middle east: electricity generat...,2012,2020,2025,2030,2040,2050
1,power plants,904,"1,127","1,318","1,798","3,007","4,621"
2,hard coal (& non-renewable waste),1,0,0,0,0,0
3,lignite,0,0,0,0,0,0
4,gas,552,721,677,661,367,139
5,of which from H2,0,0,0,0,18,139
6,oil,275,189,132,48,2,0
7,diesel,53,45,25,15,0,0
8,nuclear,2,3,3,3,0,0
9,biomass (& renewable waste),0,5,13,14,15,18
10,hydro,22,28,36,37,43,50
11,wind,0,45,135,248,533,664
12,of which wind offshore,0,0,10,15,45,65
13,pv,0,55,155,368,737,"1,180"
14,geothermal,0,9,25,35,77,116
15,solar thermal power plants,0,25,105,355,"1,174","2,362"
16,ocean energy,0,3,13,14,59,92
17,combined heat and power plants,0,15,25,30,55,85
18,hard coal (& non-renewable waste),0,0,0,0,0,0
19,lignite,0,0,0,0,0,0
20,gas,0,3,5,5,7,11
21,of which from H2,0,0,0,0,0,11
22,oil,0,1,1,1,0,0
23,biomass (& renewable waste),0,7,12,14,23,27
24,geothermal,0,3,6,9,22,38
25,hydrogen,0,0,1,1,3,9
26,CHP by producer,None,NaN,NaN,NaN,NaN,NaN
27,main activity producers,0,0,0,0,0,0
28,autoproducers,0,15,25,30,55,85
29,total generation,904,"1,142","1,343","1,828","3,062","4,706"
30,fossil,880,959,840,730,357,0
31,hard coal (& non-renewable waste),1,0,0,0,0,0
32,lignite,0,0,0,0,0,0
33,gas,552,724,681,666,355,0
34,oil,275,190,134,49,2,0
35,diesel,53,45,25,15,0,0
36,nuclear,2,3,3,3,0,0
37,hydrogen,0,0,1,1,21,159
38,of which renewable H2,0,0,0,1,19,158
39,renewables (w/o renewable hydrogen),22,180,499,"1,094","2,683","4,547"
40,hydro,22,28,36,37,43,50
41,wind,0,45,135,248,533,664
42,pv,0,55,155,368,737,"1,180"
43,biomass (& renewable waste),0,12,25,28,38,45
44,geothermal,0,12,31,44,99,155
45,solar thermal power plants,0,25,105,355,"1,174","2,362"
46,ocean energy,0,3,13,14,59,92
47,distribution losses,116,141,153,165,192,212
48,own consumption electricity,56,60,57,54,49,44
49,electricity for hydrogen production,0,1,22,154,627,"1,517"
50,electricity for synfuel production,0,0,0,0,107,59
51,final energy consumption (electricity),734,940,"1,105","1,424","2,006","2,749"
52,"fluctuating res (pv, wind, ocean)",0,103,303,630,"1,329","1,936"
53,share of fluctuating res,0%,9%,23%,34%,43%,41%
54,res share (domestic generation),2%,16%,37%,60%,88%,100%

In [470]:
table2 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (410.0, left, 409 + 194, middle))
t2head = table2.columns
if config == 1:
    table2 = cleanOverlap(table2)
    table2 = replaceHeader(t2head, table2)
if config == 2:
    table2 = cleanOverlap(table2)
    table2 = replaceHeader(t2head, table2)
if config == 3:
    table2 = cleanOverlap(table2)
    table2 = replaceHeader(t2head, table2)
if config == 4:
    table2 = cleanOverlap(table2)
    table2 = replaceHeader(t2head, table2)
if config == 5:
    table2 = cleanOverlap(table2)
    table2 = replaceHeader(t2head, table2)
table2

,0,1,2,3,4,5,6
0,table 13.6.16 middle east: final energy consum...,2012,2020,2025,2030,2040,2050
1,road,"5,226","6,642","6,356","6,031","4,976","4,469"
2,fossil fuels,"4,981","6,212","5,523","4,336","1,652",0
3,biofuels,0,127,291,377,461,417
4,synfuels,0,0,0,0,150,81
5,natural gas,245,263,252,217,102,0
6,hydrogen,0,0,49,382,"1,290","1,812"
7,electricity,0,41,241,719,"1,472","2,240"
8,rail,2,20,44,60,88,89
9,fossil fuels,1,1,1,1,0,0
10,biofuels,0,0,0,0,0,0
11,synfuels,0,0,0,0,0,0
12,electricity,1,19,43,59,88,89
13,navigation,0,0,0,0,0,0
14,fossil fuels,0,0,0,0,0,0
15,biofuels,0,0,0,0,0,0
16,synfuels,0,0,0,0,0,0
17,aviation,46,53,62,65,80,85
18,fossil fuels,46,53,61,59,52,0
19,biofuels,0,0,0,6,21,71
20,synfuels,0,0,0,0,7,14
21,total (incl. pipelines),"5,293","6,735","6,479","6,172","5,309","4,731"
22,fossil fuels,"5,028","6,266","5,585","4,396","1,704",0
23,biofuels (incl. biogas),0,127,291,383,482,488
24,synfuels,0,0,0,0,157,95
25,natural gas,263,281,269,230,104,0
26,hydrogen,0,0,49,382,"1,290","1,812"
27,electricity,1,61,285,782,"1,572","2,336"
28,total res,0,136,416,"1,080","3,146","4,731"
29,res share,0%,2%,6%,17%,59%,100%

In [471]:
table3 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (596, left, 596 + 183, middle))
t3head = table3.columns
if config == 1:
    table3 = cleanOverlap(table3)
    table3 = replaceHeader(t3head, table3)
if config == 2:
    #table3 = cleanOverlap(table3)
    table3 = replaceHeader(t3head, table3)
if config == 3:
    #table3 = cleanOverlap(table3)
    table3 = replaceHeader(t3head, table3)
if config == 4:
    #table3 = cleanOverlap(table3)
    table3 = replaceHeader(t3head, table3)
if config == 5:
    #table3 = cleanOverlap(table3)
    table3 = replaceHeader(t3head, table3)
table3

,0,1,2,3,4,5,6
0,table 13.6.17 middle east: heat supply pj/a,2012,2020,2025,2030,2040,2050
1,district heating plants,0,0,0,0,0,0
2,fossil fuels,0,0,0,0,0,0
3,biomass,0,0,0,0,0,0
4,solar collectors,0,0,0,0,0,0
5,geothermal,0,0,0,0,0,0
6,heat from chp1,0,57,107,146,333,631
7,fossil fuels,0,12,17,18,23,0
8,biomass,0,17,31,41,95,196
9,geothermal,0,27,56,81,198,344
10,hydrogen,0,1,3,6,18,91
11,direct heating,"6,409","7,242","7,400","7,603","8,024","8,030"
12,fossil fuels,"5,938","6,138","5,883","5,398","3,718",0
13,biomass,20,98,121,146,207,315
14,solar collectors,7,159,370,733,"1,609","2,386"
15,geothermal,0,110,144,180,231,366
16,heat pumps2,0,53,87,122,293,577
17,electric direct heating,445,684,794,"1,024","1,796","3,219"
18,hydrogen,0,0,0,0,170,"1,167"
19,total heat supply3,"6,409","7,299","7,507","7,749","8,357","8,661"
20,fossil fuels,"5,938","6,150","5,901","5,415","3,741",0
21,biomass,20,115,152,187,302,511
22,solar collectors,7,159,370,733,"1,609","2,386"
23,geothermal,0,137,200,261,429,710
24,heat pumps2,0,53,87,122,293,577
25,electric direct heating,445,684,794,"1,024","1,796","3,219"
26,hydrogen,0,1,3,6,188,"1,258"
27,res share (including res electricity),1%,8%,15%,25%,53%,100%

In [472]:
table4 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (53.02, 22 + 274.96, 53.02 + 145, 540))
table4

,table 13.6.15 middle east: electricity generation twh/a,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,table 13.6.18: middle east: installed capacity gw,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,2012,2020,2025,2030,2040,2050,2012,2020,2025,2030,2040,2050
1,power plants 904,"1,127","1,318","1,798","3,007","4,621",total generation 256,355,463,706,"1,203","1,587"
2,hard coal (& non-renewable waste) 1,0,0,0,0,0,fossil 241,265,233,225,196,0
3,lignite 0,0,0,0,0,0,hard coal (& non-renewable waste) 0,0,0,0,0,0
4,gas 552,721,677,661,367,139,lignite 0,0,0,0,0,0
5,of which from H2 0,0,0,0,18,139,gas (w/o h2) 166,203,190,208,195,0
6,oil 275,189,132,48,2,0,oil 62,51,36,14,0,0
7,diesel 53,45,25,15,0,0,diesel 12,12,7,4,0,0
8,nuclear 2,3,3,3,0,0,nuclear 1,0,0,0,0,0
9,biomass (& renewable waste) 0,5,13,14,15,18,"hydrogen (fuel cells, gas power plants, gas ch...",0,0,0,11,82
10,hydro 22,28,36,37,43,50,renewables 15,89,229,480,996,"1,505"
11,wind 0,45,135,248,533,664,hydro 14,18,23,23,26,30
12,of which wind offshore 0,0,10,15,45,65,wind 0,21,59,107,229,285
13,pv 0,55,155,368,737,"1,180",of which wind offshore 0,0,3,5,15,22
14,geothermal 0,9,25,35,77,116,pv 0,34,94,223,449,722
15,solar thermal power plants 0,25,105,355,"1,174","2,362",biomass (& renewable waste) 0,2,4,5,6,8
16,ocean energy 0,3,13,14,59,92,geothermal 0,2,5,6,14,22
17,combined heat and power plants 0,15,25,30,55,85,solar thermal power plants 0,10,38,109,242,394
18,hard coal (& non-renewable waste) 0,0,0,0,0,0,ocean energy 0,2,6,7,30,46
19,lignite 0,0,0,0,0,0,"fluctuating res (pv, wind, ocean) 0",57,159,337,707,"1,052"
20,gas 0,3,5,5,7,11,share of fluctuating res 0%,16%,34%,48%,59%,66%
21,of which from H2 0,0,0,0,0,11,res share (domestic generation) 6%,25%,49%,68%,83%,95%

In [457]:
if config == 1:
    table4 = table4.iloc[:, 5:]
    t4head = table4.columns
    table4 = cleanOverlap(table4)
    table4 = replaceHeader(t4head, table4)
if config == 2:
    table4 = table4.iloc[:, -6:]
    t4head = table4.columns[-6:]
    table4 = cleanOverlap(table4)
    table4 = replaceHeader(t4head, table4)
if config == 3:
    table4 = table4.iloc[:, -7:]
    t4head = table4.columns[-7:]
    #table4 = cleanOverlap(table4)
    table4 = replaceHeader(t4head, table4)
if config == 4:
    table4 = table4.iloc[:, -7:]
    t4head = table4.columns[-7:]
    table4 = cleanOverlap(table4)
    table4 = replaceHeader(t4head, table4)
if config == 5:
    table4 = table4.iloc[:, -6:]
    t4head = table4.columns[-6:]
    table4 = cleanOverlap(table4)
    table4 = replaceHeader(t4head, table4)
table4

(['2012'], ['2', '166'])

,0,1,2,3,4,5,6
0,table 13.6.10: middle east: installed capacity...,2012,2020,2025,2030,2040,2050
1,total generation,256,352,416,572,923,"1,392"
2,fossil,241,268,230,211,204,222
3,hard coal (& non-renewable waste),0,0,0,0,0,0
4,lignite,0,0,0,0,0,0
5,gas (w/o h2),166,205,187,190,202,220
6,oil,62,51,36,16,1,1
7,diesel,12,12,7,4,0,0
8,nuclear,1,0,0,0,0,0
9,"hydrogen (fuel cells, gas power plants, gas chp)",0,0,0,0,1,2
10,renewables,15,83,186,360,719,"1,168"
11,hydro,14,18,21,23,26,30
12,wind,0,16,45,82,130,188
13,of which wind offshore,0,0,3,5,8,13
14,pv,0,34,73,151,358,656
15,biomass (& renewable waste),0,2,3,5,7,9
16,geothermal,0,1,2,6,14,15
17,solar thermal power plants,0,10,35,86,167,245
18,ocean energy,0,2,6,7,17,26
19,"fluctuating res (pv, wind, ocean)",0,52,125,240,505,870
20,share of fluctuating res,0%,15%,30%,42%,55%,62%
21,res share (domestic generation),6%,24%,45%,63%,78%,84%

In [458]:
table5 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (200, middle, 200.5 + 275, right))
t5head = table5.columns

if config == 1:
    table5 = cleanOverlap(table5)
    table5 = replaceHeader(t5head, table5)
if config == 2:
    table5 = cleanOverlap(table5)
    table5 = replaceHeader(t5head, table5)
if config == 3:
    table5 = cleanOverlap(table5)
    table5 = replaceHeader(t5head, table5)
if config == 4:
    table5 = cleanOverlap(table5)
    table5 = replaceHeader(t5head, table5)
if config == 5:
    table5 = cleanOverlap(table5)
    table5 = replaceHeader(t5head, table5)
table5

(['2012'], ['1', '15,306'])

,0,1,2,3,4,5,6
0,table 13.6.12: middle east: final energy deman...,2012,2020,2025,2030,2040,2050
1,total (incl. non-energy use),"18,967","21,530","21,950","22,433","22,228","21,212"
2,total energy use1,"15,306","17,981","18,119","18,320","17,918","17,203"
3,transport,"5,293","6,792","6,696","6,600","5,885","5,150"
4,oil products,"5,028","6,346","5,935","5,153","2,918",575
5,natural gas,263,288,295,342,333,335
6,biofuels,0,128,310,447,512,558
7,synfuels,0,0,0,0,0,0
8,electricity,1,30,149,511,"1,248","2,085"
9,RES electricity,0,4,46,265,968,"1,940"
10,hydrogen,0,0,7,148,874,"1,597"
11,res share transport,0%,2%,5%,12%,37%,77%
12,industry,"5,271","5,677","5,628","5,615","5,634","5,607"
13,electricity,578,772,846,"1,010","1,476","2,282"
14,RES electricity,14,110,264,524,"1,145","2,124"
15,public district heat,0,0,0,0,0,0
16,RES district heat,0,0,0,0,0,0
17,hard coal & lignite,79,41,49,44,0,0
18,oil products,"1,453","1,133",859,620,248,61
19,gas,"3,162","3,450","3,381","3,168","2,606","1,161"
20,solar,0,88,222,422,756,984
21,biomass,0,64,92,120,176,272
22,geothermal,0,129,179,231,373,572
23,hydrogen,0,0,0,0,0,275
24,res share industry,0%,7%,13%,23%,43%,75%
25,other sectors,"4,742","5,512","5,795","6,105","6,398","6,446"
26,electricity,"2,064","2,551","2,851","3,221","3,840","4,417"
27,RES electricity,51,364,888,"1,672","2,979","4,109"
28,public district heat,0,0,0,0,0,0
29,RES district heat,0,0,0,0,0,0
30,hard coal & lignite,0,0,0,0,0,0
31,oil products,970,903,815,613,413,119
32,gas,"1,670","1,891","1,876","1,840","1,124",534
33,solar,7,71,148,311,853,"1,036"
34,biomass,32,78,80,83,95,114
35,geothermal,0,18,26,36,73,227
36,hydrogen,0,0,0,0,0,0
37,res share other sectors,2%,10%,20%,34%,63%,85%
38,total res,104,"1,054","2,257","4,189","8,608","13,676"
39,res share,1%,6%,12%,23%,48%,80%
40,non energy use,"3,661","3,549","3,831","4,114","4,310","4,009"
41,oil,"1,734","1,574","1,738","1,907","2,084","2,019"
42,gas,"1,916","1,824","1,778","1,703","1,353",858
43,coal,10,151,316,504,873,"1,133"

In [459]:
table6 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (495, middle, 485 + 190, right))

In [460]:
if config == 1:
    t6head = table6.iloc[0]
    table6 = cleanOverlap(table6, year_row = 1)
    table6 = replaceHeader(t6head, table6)
    #table6 = topCombine(table6)
    table6.iloc[22,1] = table6.iloc[22,2]
    table6 = table6.dropna(axis = 1, thresh = 7)
    table6 = replaceHeader(t6head, table6)
if config == 2:
    t6head = table6.iloc[0]
    #table6 = cleanOverlap(table6, year_row = 1)
    table6 = replaceHeader(t6head, table6)
    table6 = topCombine(table6)
    table6.iloc[22,1] = table6.iloc[22,2]
    table6 = table6.dropna(axis = 1, thresh = 7)
    table6 = replaceHeader(t6head, table6)
if config == 3:
    t6head = table6.iloc[0]
    #table6 = cleanOverlap(table6, year_row = 1)
    table6 = replaceHeader(t6head, table6)
    table6 = topCombine(table6)
    table6.iloc[22,1] = table6.iloc[22,2]
    table6 = table6.dropna(axis = 1, thresh = 7)
    table6 = replaceHeader(t6head, table6)
if config == 4:
    t6head = table6.iloc[0]
    #table6 = cleanOverlap(table6, year_row = 1)
    table6 = replaceHeader(t6head, table6)
    table6 = topCombine(table6)
    table6.iloc[22,1] = table6.iloc[22,2]
    table6 = table6.dropna(axis = 1, thresh = 7)
    table6 = replaceHeader(t6head, table6)
if config == 5:
    t6head = table6.iloc[0]
    #table6 = cleanOverlap(table6, year_row = 1)
    table6 = replaceHeader(t6head, table6)
    table6 = topCombine(table6)
    table6.iloc[22,1] = table6.iloc[22,2]
    table6 = table6.dropna(axis = 1, thresh = 7)
    table6 = replaceHeader(t6head, table6)
table6

,0,1,2,3,4,5,6
0,table 13.6.13: middle east: cO2 emissions mill...,2012,2020,2025,2030,2040,2050
1,condensation power plants,609,647,525,412,250,98
2,hard coal (& non-renewable waste),1,0,0,0,0,0
3,lignite,0,0,0,0,0,0
4,gas,327,406,369,340,245,96
5,oil,210,182,122,52,3,2
6,diesel,71,60,33,20,1,0
7,combined heat and power plants,0,3,3,3,4,6
8,hard coal (& non-renewable waste),0,0,0,0,0,0
9,lignite,0,0,0,0,0,0
10,gas,0,2,3,3,4,6
11,oil,0,1,1,0,0,0
12,co2 emissions power and chp plants,609,650,529,415,254,103
13,hard coal (& non-renewable waste),1,0,0,0,0,0
14,lignite,0,0,0,0,0,0
15,gas,327,407,372,343,249,101
16,oil & diesel,281,242,156,72,4,2
17,co2 intensity (g/kWh),NaN,NaN,NaN,NaN,NaN,NaN
18,without credit for chp heat,NaN,NaN,NaN,NaN,NaN,NaN
19,co2 intensity fossil electr. generation,691,671,598,533,459,426
20,co2 intensity total electr. generation,673,573,410,255,103,30
21,co2 emissions by sector,"1,670","1,778","1,569","1,325",818,294
22,% of 1990 emissions (554 mill t),321%,321%,283%,239%,148%,53%
23,industry1,317,307,282,249,182,81
24,other sectors1,180,187,179,161,101,42
25,transport,422,530,498,437,256,67
26,power generation2,609,647,525,412,250,98
27,other conversion3,143,105,85,66,30,7
28,population (mill.),218,253,272,289,322,349
29,co2 emissions per capita (t/capita),7.7,7.0,5.8,4.6,2.5,0.8

In [461]:
table7 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = ex_page, area = (685, middle, 685 + 120, right))

In [462]:
if config == 1:
    t7head = table7.iloc[0]
    table7 = cleanOverlap(table7, year_row = 1, column = 1, text_issue=False)
    table7 = cleanOverlap(table7, year_row = 1, text_issue=True)
    table7 = replaceHeader(t7head, table7)
    #table7 = topCombine(table7)
    
if config == 2:
    t7head = table7.iloc[0]
    table7 = cleanOverlap(table7, year_row = 1, column = 1, text_issue=False)
    table7 = cleanOverlap(table7, year_row = 1, text_issue=True, drop = True)
    table7 = replaceHeader(t7head, table7)
    #table7 = topCombine(table7)
if config == 3:
    t7head = table7.iloc[0]
    table7 = cleanOverlap(table7, year_row = 1, column = 1, text_issue=False)
    table7 = cleanOverlap(table7, year_row = 1, text_issue=True, drop = True)
    table7 = replaceHeader(t7head, table7)
    #table7 = topCombine(table7)
if config == 4:
    t7head = table7.iloc[0]
    table7 = cleanOverlap(table7, year_row = 1, column = 1, text_issue=False)
    table7 = cleanOverlap(table7, year_row = 1, text_issue=True, drop = True)
    table7 = replaceHeader(t7head, table7)
    #table7 = topCombine(table7)
if config == 5:
    t7head = table7.iloc[0]
    table7 = cleanOverlap(table7, year_row = 1, column = 1, text_issue=False)
    table7 = cleanOverlap(table7, year_row = 1, text_issue=True, drop = True)
    table7 = replaceHeader(t7head, table7)
    #table7 = topCombine(table7)
table7

,0,1,2,3,4,5,6
0,table 13.6.14: middle east: primary energy dem...,2012,2020,2025,2030,2040,2050
1,total,"28,272","30,971","30,115","29,974","28,943","26,297"
2,fossil,"28,133","29,509","26,914","23,973","17,085","8,809"
3,hard coal (& non-renewable waste),124,233,405,582,893,"1,134"
4,lignite,1,0,0,0,0,0
5,natural gas,"14,151","15,206","14,290","13,490","10,115","4,805"
6,crude oil,"13,856","14,070","12,219","9,901","6,078","2,870"
7,nuclear,20,33,33,33,0,0
8,renewables,119,"1,430","3,168","5,969","11,858","17,488"
9,hydro,80,100,117,135,156,181
10,wind,1,126,378,684,"1,087","1,581"
11,solar,7,447,"1,144","2,642","6,641","11,182"
12,biomass (& renewable waste),32,522,929,"1,239","1,473","1,682"
13,geothermal,0,223,554,"1,219","2,382","2,680"
14,ocean energy,0,11,45,50,119,184
15,of which non-energy use,"3,661","3,549","3,831","4,114","4,310","4,009"
16,net electricity imports (final energy),7,0,-19,-96,-216,-288
17,total res incl. net electricity import,120,"1,430","3,164","5,926","11,692","17,221"
18,res share,0%,5%,11%,20%,41%,66%

In [466]:
page = pd.concat([table1, table2, table3, table4, table5, table6, table7], axis=0)

In [467]:
page

,0,1,2,3,4,5,6
0,table 13.6.8 middle east: electricity generati...,2012,2020,2025,2030,2040,2050
1,power plants,904,"1,119","1,263","1,596","2,413","3,400"
2,hard coal (& non-renewable waste),1,0,0,0,0,0
3,lignite,0,0,0,0,0,0
4,gas,552,730,721,699,541,229
5,of which from H2,0,0,0,0,0,0
6,oil,275,189,132,58,4,2
7,diesel,53,45,25,15,1,0
8,nuclear,2,3,3,3,0,0
9,biomass (& renewable waste),0,5,8,14,15,18
10,hydro,22,28,33,37,43,50
11,wind,0,35,105,190,302,439
12,of which wind offshore,0,0,10,15,25,40
13,pv,0,55,120,250,589,"1,072"
14,geothermal,0,1,10,35,77,66
15,solar thermal power plants,0,25,95,280,809,"1,473"
16,ocean energy,0,3,13,14,33,51
17,combined heat and power plants,0,15,25,30,55,85
18,hard coal (& non-renewable waste),0,0,0,0,0,0
19,lignite,0,0,0,0,0,0
20,gas,0,3,5,5,7,11
21,of which from H2,0,0,0,0,0,0
22,oil,0,1,1,1,0,0
23,biomass (& renewable waste),0,7,12,14,23,27
24,geothermal,0,3,6,9,22,38
25,hydrogen,0,0,1,1,3,9
26,CHP by producer,None,NaN,NaN,NaN,NaN,NaN
27,main activity producers,0,0,0,0,0,0
28,autoproducers,0,15,25,30,55,85
29,total generation,904,"1,134","1,288","1,626","2,468","3,485"
...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,691,671,598,533,459,426
20,co2 intensity total electr. generation,673,573,410,255,103,30
21,co2 emissions by sector,"1,670","1,778","1,569","1,325",818,294
22,% of 1990 emissions (554 mill t),321%,321%,283%,239%,148%,53%
23,industry1,317,307,282,249,182,81
24,other sectors1,180,187,179,161,101,42
25,transport,422,530,498,437,256,67
26,power generation2,609,647,525,412,250,98
27,other conversion3,143,105,85,66,30,7
28,population (mill.),218,253,272,289,322,349
29,co2 emissions per capita (t/capita),7.7,7.0,5.8,4.6,2.5,0.8
0,table 13.6.14: middle east: primary energy dem...,2012,2020,2025,2030,2040,2050
1,total,"28,272","30,971","30,115","29,974","28,943","26,297"
2,fossil,"28,133","29,509","26,914","23,973","17,085","8,809"
3,hard coal (& non-renewable waste),124,233,405,582,893,"1,134"
4,lignite,1,0,0,0,0,0
5,natural gas,"14,151","15,206","14,290","13,490","10,115","4,805"
6,crude oil,"13,856","14,070","12,219","9,901","6,078","2,870"
7,nuclear,20,33,33,33,0,0
8,renewables,119,"1,430","3,168","5,969","11,858","17,488"
9,hydro,80,100,117,135,156,181
10,wind,1,126,378,684,"1,087","1,581"
11,solar,7,447,"1,144","2,642","6,641","11,182"
12,biomass (& renewable waste),32,522,929,"1,239","1,473","1,682"
13,geothermal,0,223,554,"1,219","2,382","2,680"
14,ocean energy,0,11,45,50,119,184
15,of which non-energy use,"3,661","3,549","3,831","4,114","4,310","4,009"
16,net electricity imports (final energy),7,0,-19,-96,-216,-288
17,total res incl. net electricity import,120,"1,430","3,164","5,926","11,692","17,221"
18,res share,0%,5%,11%,20%,41%,66%

In [175]:
fin_page=14
table22_title = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = fin_page, area = (50, 21.97, 50 + 40, 21+ 274.96))
table22 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = fin_page, area = (62, 21.97, 62 + 286, 21+ 274.96), columns = [21+274.96])
table22 = table22.iloc[:, :6].dropna(axis = 0, thresh = 3)
#replaceHeader(table1.columns, table1)
table22 = cleanOverlap(table22, financial = True)
replaceHeader(table22_title.columns, table22)

(['2012-', '2021-', '2031-'], ['3.98', '1,068.3', '963.8', '3,361.5', '643.0', '4,437.7', '567.1'])

TypeError: expected string or bytes-like object

In [ ]:
table23_starting = 6
table23 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = fin_page, area = (55, 300, 55 + 170, 300 + 285))
table23 = table23.iloc[:, table23_starting:].dropna(axis = 0, thresh = 3)
#replaceHeader(table1.columns, table1)
table23 = cleanOverlap(table23, financial = True)
replaceHeader(table23_title.columns[table23_starting:], table23)

In [183]:
table22

,0,1,2,3,4,5,6,7,8,9,10,11
0,table 13.1.22: global: investments in electric...,2012-,2021-,2031-,None,None,None,2041-,2012-,unit,annual average,unit 2012- 2021- 2031- 2041-
1,ref,2020,2030,2040,None,None,None,2050,2050,NaN,2012-2050,ref 2020 2030 2040 2050
2,fossil (w/o chp) billion $,"1,673.6","2,205.0","2,725.4",None,None,None,"2,866.8","9,470.9",billion $/a,242.8,heat pumps billion $ 131.7 134.3 169.9 184.6
3,nuclear billion $,678.6,740.5,654.9,None,None,None,731.1,"2,805.1",billion $/a,71.9,deep geothermal billion $ 6.2 0.5 10.1 6.1
4,chp (fossil + renewable) billion $,712.2,651.8,433.5,None,None,None,123.8,"1,921.3",billion $/a,49.3,solar thermal billion $ 119.2 145.2 216.1 251.4
5,renewables (w/o chp) billion $,"2,417.8","2,274.4","2,863.0",None,None,None,"2,775.8","10,331.0",billion $/a,264.9,"biomass billion $ 1,034.4 912.8 427.9 391.7"
6,total billion $,"5,482.3","5,871.7","6,676.8",None,None,None,"6,497.6","24,528.3",billion $/a,628.9,"total billion $ 1,291.5 1,192.8 824.0 833.8"
7,conventional (fossil & nuclear) billion $,"2,996.6","3,512.9","3,753.8",None,None,None,"3,680.7","13,944.1",billion $/a,357.5,e[r]
8,renewables billion $,"2,485.7","2,358.8","2,922.9",None,None,None,"2,816.9","10,584.3",billion $/a,271.4,"heat pumps billion $ 332.5 1,325.4 1,951.0 2,2..."
9,biomass billion $,209.1,229.3,281.1,None,None,None,265.3,984.8,billion $/a,25.3,"deep geothermal billion $ 122.9 252.4 1,133.5 ..."
10,hydro billion $,999.9,984.4,900.9,None,None,None,895.3,"3,780.5",billion $/a,96.9,"solar thermal billion $ 401.2 1,778.8 2,258.7 ..."
11,wind billion $,585.5,690.7,973.4,None,None,None,"1,011.5","3,261.1",billion $/a,83.6,bomass billion $ 893.7 403.7 269.5 164.1
12,pv billion $,516.5,253.5,454.5,None,None,None,281.4,"1,505.9",billion $/a,38.6,"total billion $ 1,750.3 3,760.4 5,612.6 5,200.2"
13,geothermal billion $,113.4,111.4,132.0,None,None,None,157.5,514.2,billion $/a,13.2,adv e[r]
14,solar thermal power plants billion $,56.2,76.9,139.9,None,None,None,174.3,447.5,billion $/a,11.5,"heat pumps billion $ 332.5 1,325.4 2,040.8 2,3..."
15,ocean energy billion $,4.9,12.5,41.1,None,None,None,31.6,90.2,billion $/a,2.3,"deep geothermal billion $ 123.0 252.4 1,139.7 ..."
16,fossil (w/o chp) billion $,"1,248.5",544.4,819.7,None,None,None,858.0,"3,470.6",billion $/a,89.0,biomass billion $ 893.6 403.5 268.6 130.3
17,nuclear billion $,197.6,0.6,0.8,None,None,None,0.0,198.9,billion $/a,5.1,"total billion $ 1,750.3 3,763.5 5,753.7 5,465.4"
18,chp (fossil + renewable) billion $,851.2,"1,362.8","1,490.5",None,None,None,"1,675.0","5,379.5",billion $/a,137.9,NaN
19,renewables (w/o chp) billion $,"3,808.8","9,872.1","12,385.8",None,None,None,"13,170.0","39,236.7",billion $/a,"1,006.1",NaN
20,total billion $,"6,106.1","11,779.9",14696.7,None,None,None,"15,703.0","48,285.8",billion $/a,"1,238.1",table 13.1.24: global: total employment in the...
21,conventional (fossil & nuclear) billion $,"2,072.6","1,066.4","1,147.0",None,None,None,"1,019.4","5,305.3",billion $/a,136.0,reference scenariO
22,renewables billion $,"4,033.5","10,713.5","13,549.8",None,None,None,"14,683.7","42,980.4",billion $/a,"1,102.1",by fuel 2015 2020 2025 2030
23,biomass billion $,341.0,659.3,747.5,None,None,None,"1,136.2","2,884.0",billion $/a,73.9,coal 9.76 9.67 8.63 7.70
24,hydro 3.98wind billion $ billion $,"1,068.3",963.8,"3,361.5",643.0,"4,437.7",567.1,"608.8 5,176.3","2,782.7 14,043.8",billion $/a billion $/a,71.4 360.1,"gas, oil & diesel 3.58 4.16 4.56 4.67"
25,pv billion $,"1,212.8","2,812.9","2,914.4",None,None,None,"3,045.8","9,986.0",billion $/a,256.1,nuclear 0.73 0.86 0.83 0.74
26,geothermal billion $,214.5,898.8,"1,299.3",None,None,None,"1,280.3","3,692.9",billion $/a,94.7,renewable 14.62 15.41 15.59 14.84
27,solar thermal power plants billion $,168.7,"1,921.2","2,796.6",None,None,None,"2,818.1","7,704.7",billion $/a,197.6,total jobs 28.69 30.11 29.62 27.95
28,ocean energy billion $,64.3,416.8,787.1,None,None,None,618.1,"1,886.4",billion $/a,48.4,by sector
29,fossil (w/o chp) billion $,"1,167.4",496.0,938.5,None,None,None,"1,069.2","3,671.1",billion $/a,94.1,manufacturing 2.38 2.44 2.23 1.91
30,nuclear billion $,197.6,0.6,0.8,None,None,None,0.0,198.9,billion $/a,5.1,operations and maintenance 3.23 3.94 4.30 4.27
31,chp (fossil + renewable) billion $,851.9,"1,359.0","1,467.1",None,None,None,"1,619.6","5,297.6",billion $/a,135.8,fuel supply (domestic) 17.76 18.12 17.93 17.27
32,renewables (w/o chp) billion $,"4,292.3","13,403.0","18,094.0",None,None,None,"19,835.9","55,625.2",billion $/a,"1,426.3",coal and gas export 0.47 0.52 0.54 0.57
33,total billion $,"6,509.1","15,258.6","20,500.3",None,None,None,"22,524.7","64,792.8",billion $/a,"1,661.4",total jobs (million) 28.69 30.11 29.62 27.95
34,conventional (fossil & nuclear) billion $,"1,981.0","1,016.8","1,250.2",None,None,None,"1,194.9","5,443.0",billion $/a,139.6,by technology
35,renewables billion $,"4,528.1","14,241.8","19,250.1",None,None,None,"21,329.9","59,349.8",billion $/a,"1,521.8",coal 9.76 9.67 8.63 7.70
36,biomass billion $,364.0,673.6,773.7,None,None,None,"1,036.2","2,847.5",billion $/a,73.0,"gas, oil & diesel 3.58 4.16 4.56 4.67"
37,hydro billion $,963.8,657.3,588.7,None,None,None,668.8,"2,878.7",billion $/a,73.8,nuclear 0.73 0.86 0.83 0.74
38,wind billion $,"1,243.5","4,341.0","6,518.9",None,None,None,"7,549.4","19,652.8",billion $/a,503.9,biomass 10.97 11.85 12.05 11.76
39,pv billion $,"1,402.1","3,826.3","3,845.3",None,None,None,"4,333.3","13,406.9",billion $/a,343.8,hydro 1.45 1.46 1.47 1.29
40,geothermal billion $,256.5,"1,136.0","1,822.3",None,None,None,"1,856.6","5,071.3",billion $/a,130.0,wind 0.70 0.72 0.76 0.65
41,solar thermal power plants billion $,230.3,"3,019.3","4,654.6",None,None,None,"5,071.2","12,975.3",billion $/a,332.7,pv 1.01 0.87 0.84 0.66
42,ocean energy billion $,67.9,588.3,"1,046.7",None,None,None,814.4,"2,517.3",billion $/a,64.5,geothermal power 0.03 0.03 0.03 0.03

In [181]:
table24 = tabula.read_pdf('Energy-Revolution-2015-Full.pdf', pages = fin_page, area = (190, middle, 190 + 164, right), columns = [380, 406, 435, 465, 490, 520, 545])
t24header = table24.iloc[8, -9:]
table24 = table24.iloc[8:,-9:].dropna(axis =1, thresh = 7).dropna(axis = 0, thresh = 3).reset_index(drop = True)
#replaceHeader(table1.columns, table1)
#table24 = cleanOverlap(table24, financial = True)
fillBlanks(table24, year_row = 1)
replaceHeader(t24header, table24)
topCombine(table24)

,0,1,2,3,4,5,6,7
0,table 13.1.24: global: total employment in the...,2015,2020,2025,2030,2020,2025,2030.00
1,coal,9.76,9.67,8.63,7.70,4.80,3.28,1.97
2,"gas, oil & diesel",3.58,4.16,4.56,4.67,4.00,4.18,NaN
3,nuclear,0.73,0.86,0.83,0.74,0.52,0.52,0.51
4,renewable,14.62,15.41,15.59,14.84,26.91,38.68,41.56
5,total jobs,28.69,30.11,29.62,27.95,36.24,46.65,48.01
6,construction and installation,4.86,5.09,4.60,3.95,8.32,14.59,15.56
7,manufacturing,2.38,2.44,2.23,1.91,5.49,8.87,9.58
8,operations and maintenance,3.23,3.94,4.30,4.27,4.82,6.96,9.00
9,fuel supply (domestic),17.76,18.12,17.93,17.27,17.27,15.97,13.67
10,coal and gas export,0.47,0.52,0.54,0.57,0.34,0.26,0.20
11,total jobs (million),28.69,30.11,29.62,27.95,36.24,46.65,48.01
12,coal,9.76,9.67,8.63,7.70,4.80,3.28,1.97
13,"gas, oil & diesel",3.58,4.16,4.56,4.67,4.00,4.18,3.98
14,nuclear,0.73,0.86,0.83,0.74,0.52,0.52,0.51
15,biomass,10.97,11.85,12.05,11.76,12.07,12.55,11.54
16,hydro,1.45,1.46,1.47,1.29,1.01,0.83,0.71
17,wind,0.70,0.72,0.76,0.65,4.22,6.91,8.18
18,pv,1.01,0.87,0.84,0.66,6.69,11.04,10.32
19,geothermal power,0.03,0.03,0.03,0.03,0.18,0.30,0.39
20,solar thermal power,0.03,0.04,0.05,0.08,0.45,1.66,2.66

In [ ]:
financial_page = pd.concat([table22, table23, table24], axis=0)

In [ ]:
financial_page

## Storage

In [167]:
#initialize
storage = page.copy()

#### adding

In [ ]:
11,12,13, c.0
15,16,17, c.1
19,20,21, c.2
23,24,25, c.2
27,28,29, c.3
31,32, c.4
33 c.5

In [468]:
storage = pd.concat([storage,page], axis=0)

In [ ]:
storage = pd.concat([storage,financial_page, axis=0)

In [433]:
storage.to_csv("storage29.csv")